.landingPageWrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.landingPageWrap .form {
    width: 400px;
    margin-top: 10rem;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}
